# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg

# Stub build artifacts
stub/third_party/_build/
stub/third_party/zlib/*/bin/
stub/third_party/zlib/*/lib/pkgconfig/

# Engine build artifacts
engines/_build/

# Patch output
*.xpatch
*.patch_tmp

# IDE
.vscode/
.idea/
*.swp

ISXPM/